* {
    margin: 0px;
}

body{
    background-color: #F1F2FF;
}

header {
background: rgba(255, 109, 197, 0.35);
width: 100%;

}
h1,h2 {
    margin: 0 auto;
    text-align: center;
}
h1 {
    font-family: 'Imprint MT Shadow';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 47px;
    margin-bottom: 10px;
    padding-top: 20px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}
header h2 {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 13px;
    padding-bottom: 20px;
}
nav {
    margin-bottom: 45px;
    margin-top: 25px;
    line-height: 30px;
}
nav ul li a, nav li a:visited {
    font-family: 'Akaya Kanadaka';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 147.3%;
    text-align: center;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
   
}
nav ul li a:hover {
    color:cornflowerblue;
}
.body-text {
    margin: 0 auto;
    width: 85%;
}
.body-text p {
    font-family: 'Akaya Kanadaka';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 147.3%;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: center;
    width: 100%;
}
.body-text img {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 22px;
    object-fit: contain;
    height: 253px;
}
.main img {
    width: 100%;
    margin-top: 20px;
    object-fit: fill;
    height: 400px;
}
.body-text a, .body-text a:visited {
    color: black;
    text-decoration: none;
}
.body-text a:hover {
    color:cornflowerblue;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    text-align: center;
    text-overflow: inherit;
}
.mail {
    font-family: 'Akaya Kanadaka';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 147.3%;
    text-align: left;
    margin-bottom: 55px;
}
/* gallery page */
.gallery {
    width: 85%;
    margin: 0 auto;    
}
.ghead {
    font-family: 'IM FELL Double Pica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 45px;
    margin-left: 25px;
    margin-right: 25px;
}
.g-item {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 53px;
}
.g-item:last-of-type {
    margin-bottom: 0;
}
.g-item img {
    width: 100%;
}
.g-item p {
    font-family: 'Aksara Bali Galang';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    text-align: left;
    margin-left: 8px;
}
.g-item2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 53px;
}
.g-item2:last-of-type {
    margin-bottom: 0;
}
.g-item2 img {
    width: 100%;
}
.g-item2 p {
    font-family: 'Jura';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
    text-align: left;
    margin-left: 8px;
}
.g-item3 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 53px;
}
.g-item3:last-of-type {
    margin-bottom: 0;
}
.g-item3 video {
    width: 100%;
}
.g-item3 p {
    font-family: 'Handlee';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
    text-align: left;
    margin-left: 8px;
}
.g-item4 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 53px;
}
.g-item4:last-of-type {
    margin-bottom: 0;
}
.g-item4 video {
    width: 100%;
}
.g-item4 p {
    font-family: 'Scheherazade';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    margin-left: 8px;
}
.g-item5 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 53px;
}
.g-item5:last-of-type {
    margin-bottom: 0;
}
.g-item5 img {
    width: 100%;
}
.g-item5 p {
    text-align: left;
    margin-left: 8px;
}
.g-item6 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 53px;
}
.g-item6:last-of-type {
    margin-bottom: 0;
}
.g-item6 img {
    width: 100%;
}
.g-item6 p {
    text-align: left;
    margin-left: 8px;
}
.g-item7 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 53px;
}
.g-item7:last-of-type {
    margin-bottom: 0;
}
.g-item7 img {
    width: 100%;
}
.g-item7 p {
    text-align: left;
    margin-left: 8px;
}
.g-item8 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 53px;
}
.g-item8:last-of-type {
    margin-bottom: 0;
}
.g-item8 img {
    width: 100%;
}
.g-item8 p {
    text-align: left;
    margin-left: 8px;
}
.g-item9 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 53px;
}
.g-item9:last-of-type {
    margin-bottom: 0;
}
.g-item9 img {
    width: 100%;
}
.g-item9 p {
    text-align: left;
    margin-left: 8px;
}
.g-item10 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 53px;
}
.g-item10:last-of-type {
    margin-bottom: 0;
}
.g-item10 img {
    width: 100%;
}
.g-item10 p {
    text-align: left;
    margin-left: 8px;
}
.g-item11 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 53px;
}
.g-item11:last-of-type {
    margin-bottom: 0;
}
.g-item11 video {
    width: 100%;
}
.g-item11 p {
    text-align: left;
    margin-left: 8px;

}
.review:last-of-type {
    margin-bottom: 20px;
}
.review img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 53px;
}
.review p {
    text-align: left;
    margin-left: 8px;
    margin-bottom: 12px;
}
.review2:last-of-type {
    margin-bottom: 68px;
}
.review2 img {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 53px;
}
.review2 p {
    text-align: left;
    margin-left: 8px;
    margin-bottom: 12px;
}

/* projects */
.projects {
    text-align: left;
    width: 85%;
    margin: 0 auto;
}
.projects p {
    text-align: left;
    margin-bottom: 28px;
}
.projects p:last-of-type {
    margin-bottom: 50px;
}
.projects2 p { 
    margin-bottom: 30px;
    margin-top: 25px;
}
/* edu */
.edu {
    width: 85%;
    margin: 0 auto;
}
.edu h2, .edu p, .edu li {
    text-align: left;
}